* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
p {
  margin-block: 0;
}

.fixed {
  font-weight: 600;
  font-size: 24px;
  color: #f00;
  position: fixed;
}
.fixed-a {
  bottom: 32px;
  right: 32px;
}
.fixed-b {
  top: 32px;
  right: 32px;
}

.container {
  max-width: 60rem;
  margin-inline: auto;
  padding-block: 1.25rem;
  padding-inline: 80px;
  background-color: oklch(0.95 0 0);
}

.sticky {
  position: sticky;
  width: 100%;
  height: 240px;
  background-color: aqua;
}
.sticky-a {
  top: 2rem;
}